<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nect.friendlymony">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Utils.App"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup">
        <activity android:name=".Activity.PaymentWebviewActivity"></activity>
        <activity android:name=".Activity.AppleSignInActivity" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.ChatActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="chat" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ReportProblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SubcriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BoostCrushesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyLikesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ReferralUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ReferralsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FeedDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignupQuestionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.LoginOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <meta-data
            android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_KLeoyWgjuFMuo8" />

        <service
            android:name=".Fcm.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="delivery_metrics_exported_to_big_query_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name="com.quickblox.messages.services.fcm.QBFcmPushInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.nect.friendlymony" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Service.UploadService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8bw72R-bXhXCfs9BGdyIh_Q-nGfmDpnw" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider> <!-- quickblox -->
        <activity
            android:name=".Quickblox.activities.LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quickblox.activities.OpponentsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quickblox.activities.PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quickblox.activities.CallActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".Quickblox.activities.SettingsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />

        <service
            android:name=".Quickblox.services.LoginService"
            android:stopWithTask="false" />
        <service
            android:name=".Quickblox.services.CallService"
            android:stopWithTask="false" />

        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="FCM" />
        <meta-data
            android:name="com.quickblox.messages.SENDER_ID"
            android:value="@string/sender_id" />
        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="PRODUCTION" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".Activity.ReportUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.GetUserLocationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.PaymentCardActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".Activity.WebviewTest2Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".Activity.BlockUserActivity"></activity>
    </application>

</manifest>